extends base


block content
    div#videoContainer(data-id=video._id)
        video(src="/" + video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play 
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range", step="0.001", value=0, min="0")#timeline
            div.videoControls__volume                
                input(type="range", step="0.1" value="0.5" min="0" max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div        
                span#fullScreen
                    i.fas.fa-expand            
    div
        p=video.description
        div=video.hashtags
        small=video.createdAt
        div
            a(href=`/users/${video.owner.id}`) created by #{video.owner.username}
    if String(loggedInUser._id) === String(video.owner._id)    
        a(href=`${video._id}/edit`) Edit video &rarr;
        br
        a(href=`${video._id}/remove`) Delete Video &rarr;
    if loggedIn    
        div
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10" placeholder="Write a nice comment...")
                button Add comment
    div.video__comments
        ul 
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment._id)
                    i.fas.fa-comment
                    span  #{comment.text}
                    if String(loggedInUser._id) === String(comment.owner._id)
                        button.comment__delete(data-id=comment._id) ❌        

block scripts 
    script(src="/assets/js/videoPlayer.js")
    if loggedIn
        script(src="/assets/js/commentSection.js") 